body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #87CEEB, #1E90FF);
  }
  
  nav {
    background-color: #3498db;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #fff;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0 15px;
  }
  
  li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s;
  }
  
  li a:hover {
    color: #ecf0f1;
  }
  span{
    font-size:19px
  }
  .custom-container { 
    height: 100px; 
    color: #081c74;
    width: 100%;  
    margin: auto;   
    padding: 20px; 
    font-style: italic;
    font-size: 15px;
  }
  
  .custom-container2{ 
    height: 80px; 
    color: #081c74;
    width: 100%;   
    padding: 20px; 
    font-style: italic;
    font-size: 15px;
  }

